* {
  box-sizing: border-box;
}

body {
  background-color: #202020;
  color: #fff;
  display: flex;
  font-family: sans-serif;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

.progress {
  background-color: blue;
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 0%;
  transform: translateY(-50%);
  z-index: -1;
  transition: 0.4s ease;
}

.progress-container::before {
  background-color: darkslategrey;
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 100%;
  transform: translateY(-50%);
  z-index: -1;
  content: "";
}

.circle {
  background-color: #202020;
  color: black;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid darkslategrey;
  transition: 0.4s ease;
}

.circle.active {
  border-color: blue;
}

.btn {
  background-color: blue;
  color: #fff;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
  font-family: sans-serif;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}

.btn:active {
  transform: scale(0.92);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: darkslategrey;
  cursor: not-allowed;
}
